@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'unzialishregular';
    src: url('fonts/unzialish/unzialish-webfont.woff2') format('woff2'),
         url('fonts/unzialish/unzialish-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* normalization start */
:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* normalization end */


h1 {
    font-family: "unzialishregular", var(--system-ui);
}