@font-face {
    font-family: 'unzialishregular';
    src: url('fonts/unzialish/unzialish-webfont.woff2') format('woff2'),
         url('fonts/unzialish/unzialish-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
    font-family: "unzialishregular", var(--system-ui);
}